*{
    padding: 0px;
    margin: 0px;
}
.wraper{
    background-color: black;
    width: 450px;
    height: 480px;
    margin-left: 400px;
    border-radius: 70px;
    border: 4px solid blue;
}

#btn{
   width: 110px;
   height: 35px;
   margin-top: 300px;
   margin-left: 160px;
   cursor: pointer;
   
}

#meal{
    color:white;
    font-size: 13px;
    text-align: center;
    
    
} 
.emoji{
   margin-top:20px;
   margin-left: 150px;
   font-size: 60px;
}
.wraper button h1{
   font-size: 12px;
}
button{
   margin: 5rem 1rem;
}



 
 /* green light */
/* .contain{
   background-color: black;
    width: 450px;
    height: 480px;
    margin-left: 400px;
    border-radius: 70px;
    border: 4px solid blue;
}
#btn{
    width: 110px;
    height: 35px;
    margin-top: 140px;
    margin-left: 160px;
    cursor: pointer;
    
}
#joke{
   margin-top: 90px;
   text-align: center;
   color: white;
   font-size: 15px;
   font-weight:bolder ;
} */
/* .contain span{
    margin-left: 130px;
    font-size: 50px;
} */


/* .contain{
   background-color: black;
    width: 450px;
    height: 480px;
    margin-left: 400px;
    border-radius: 70px;
    border: 4px solid blue;
}
#btn{
    width: 110px;
    height: 35px;
    margin-top: 140px;
    margin-left: 160px;
    cursor: pointer;
    
}
#weather{
   margin-top: 90px;
   text-align: center;
   color: white;
   font-size: 15px;
   font-weight:bolder ;
}
.contain span{
    margin-left: 130px;
    font-size: 50px;
} */